<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Image Gallery</title>
    <link th:href="@{/css/image-galary-style.css}" rel="stylesheet">
</head>
<body>
    <!--navigation bar-->
        <div class="primary-header" id="MainBar">
             <div class="nav one"><h1  id="navBack"><button id="navBackBtn" th:attr="onclick='location.href=\'/search'+'\''"><</button></h1></div>
             <div class="nav two"><h1  id="Title">Radiology</h1></div>
             <div class="nav three"><h3  id="userSessionName">Username</h3></div>
            </div>
        <!--image displaying section-->
<div class="container">
    <div class="section left" id ="gallerySect">
        <div class="slider">
            <div class="list">
                <div class="item" th:each="image :${response2}"><img th:attr="src=@{http://localhost:800/image/file(url_Id=${image.url_Id})}, alt='image1', data-upload-date=${image.upload_Date}, data-uploader=${image.uploader}," /></div>
            </div>
         <div class="buttons">
            <button id="prev"><</button>
            <button id="next">></button>
         </div>
        </div>
    </div>
  <!--content displaying section-->
<div class="section right" id="valueSect">
<ul>
    <li th:each="patientInfo :${response0}">
        <span th:attr="patientId=${patientInfo.patientId}" th:text="'Name: '+ ${patientInfo.patientName}">Name:      farai</span>
        <span th:text="'Surname:'+ ${patientInfo.patientSurname}">Surname:   Tapfumaneyi</span>
    </li>
    <li>
        <span id ="uploadDate">Date Uploaded:   </span>
        <span id ="uploader">Uploaded By:  </span>
    </li>
</ul>
<div class="galleryBtns">
<button id="viewBtn" onclick="location.href='http://localhost:800/static/error/404.html';">full view</button>
<button id="uploadBtn">upload</button>
</div>
</div>
</div>
<script th:src="@{/js/image-gallery-script.js}"></script>
</body>
</html>