<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Patient Search</title>
    <link th:href="@{/css/search-style.css}" rel="stylesheet">
</head>
<body>
    <!--navigation bar-->
        <div class="primary-header" id="MainBar">
             <div class="nav 1"><h1  id="bar"></h1></div>
             <div class="nav 2"><h1  id="Title">Radiology</h1></div>
             <div class="nav 3"><h3 th:text="${username}" id="userSessionName">Username</h3></div>
            </div>
        
<div class="container">
    <div class="sub-container">
    <div class="searchSect">
<form th:action="@{/patient/temp/search}" method="get" class="searchForm">
    <input type="search" name="patientId" th:value="${patientId}" id="searchInput" placeholder="patient Id">
    <button type="submit" id="searchBtn"> <img id="searchIcon" th:src="@{/img/3650895391548336152-128.png}" alt="" onsubmit="return errors()"></button>
</form>
    </div>
<div class="divider1"></div>
<h1 id="resultHeader"></h1>
<div class="section left" id="resultSect">
    <span id="errors"></span>
</div>
    </div>
<div class="section right" id="valueSect" th:if="${searchResults}">
<ul>
    <li th:each="result :${searchResults}">
        <span th:text="'Name: '+ ${result.patientName}">Name:      Susan</span>
        <span th:text="'Surname: ' + ${result.patientSurname}">Surname:   Smith</span>
        <span th:text="'Age: '+${result.age}">Age:       40</span>
        <span th:text="'Gender:  '+${result.gender}">Gender:     F</span>
        <button id="viewBtn" type="button" th:attr="onclick='location.href=\'/image-gallery?patientId=' + ${result.patientId} + '\''">View Profile</button>
    </li>
</ul>
</div>
</div>
    <script th:inline="javascript">
 var errorRespo = "field must not be empty";
 var inputValue = document.getElementById('searchInput').value;
  var dispError = document.getElementById('errors');
  var searchBtn = document.getElementById('searchBtn');


function errors (){
 if(inputValue !== null || inputValue !== ""){
       return dispError.innerHtml = "";
   }
   else{
    dispError.style.color ='red';
    console.log("error");}
    return dispError.innerHTML = errorRespo;
}
    </script>
<script th:src="@{/js/search-script.js}"></script>
</body>
</html>