<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign in</title>
    <link th:href="@{css/signIn-style.css}" rel="stylesheet">
</head>
<body>    
<div class="container">
    <h3 id="error" th:text="${error}"></h3>
<form th:action="@{/user}" method="post" class="signInForm">
    <h2 id="formTitle">Sign In</h2>
    <input type="text" name="username" id="userName" class="inputValues" placeholder="username">
    <input type="password" name="password" id="password" class="inputValues" placeholder="password">
    <button type="submit" id="signInBtn">sign in</button>
    <div class="linkRefs"><span><a href="/static/error/404.html">forgot password</a></span>
    <span><a th:href="@{/sign-up}">create account</a></span></div>
</form>
</div>
<style th:inline="css">
    body{
     background-image: url('/img/background.gif')
    }
</style>
<script th:src="@{js/signIn-script.js}"></script>
</body>
</html>