<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign up</title>
    <link th:href="@{css/signup-style.css}"  rel="stylesheet">
</head>
<body>    
<div class="container">
    <h2 id="formTitle">Sign up</h2>
<form th:action="@{/user/create-profile}"  method="post" class="signUpForm">
    <input type="text" name="name" id="name" placeholder="name" class="inputValues">
    <input type="text" name="surname" id="surname" placeholder="surname" class="inputValues">
    <input type="text" name="username" id="userName" class="inputValues" placeholder="username">
    <input type="text" name="email" id="email" class="inputValues" placeholder="e-mail">
    <input type="password" name="password" id="password" class="inputValues" placeholder="password">
    <input type="password" name="confirm-password" id="confirm-password" class="inputValues" placeholder="confirm password">
    <button type="submit" id="signInBtn">sign up</button>
</form>
</div>
<style th:inline="css">
    body{
     background-image: url('/img/background.gif')
    }
</style>
<script th:src="@{js/signup-script.js}"></script>
</body>
</html>