<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Image Upload</title>
    <link rel="stylesheet" href="uploads-styles.css">
</head>
<body>    
<div class="container">
    <h2 id="formTitle">Image Upload</h2>
<form action="" method="post" class="signInForm"  enctype="multipart/form-data" >
    <input type="text" name="userName" id="uploader" class="inputValues" placeholder="uploader">
    <input type="file" multiple ="multiple" name="uploads" id="uploads" class="inputValues" placeholder="choose files">
    <button type="submit" id="submitBtn">submit</button>
    
</form>
</div>
<script src="uploads-script.js"></script>
</body>
</html>